---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>6AMPMTUhvRtrZiyU</Key>      <Password>8sDVC9IVNOK3nktkXLnyyQNKE</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087682</AccountNumber>    <MeterNumber>118685689</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2015-08-21T15:32:03-07:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <City>Great
        Bend</City>        <PostalCode>67530</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <City>SEATTLE</City>        <PostalCode>98112</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>3</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>0.1</Value>      </Weight>      <Dimensions>        <Length>8</Length>        <Width>4</Width>        <Height>4</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>0.1</Value>      </Weight>      <Dimensions>        <Length>8</Length>        <Width>4</Width>        <Height>4</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>0.1</Value>      </Weight>      <Dimensions>        <Length>8</Length>        <Width>4</Width>        <Height>4</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4dg+5R6RkeaL7OSrxFRsETZM+DiYKUpPm8IdNzJ/c3Wq/SbgsJ1H6E7qf3kYZWzWCoZyfDl7Dw+kKsG1xXPMrfhsyT44wUhmdmWG73Gp6CxM+T9jYM2qmy+ceKKgQJcFe8Z1taPaqXJ0bs6reFNmLlyOm8q9PPrmZT1LIY0u4gHK0pJ6whZiMpENwKre2+M3lJg==
      X-Wily-Info:
      - Clear guid=5263E973CC87E0A10CA6889BB4FAEB91
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The origin state/province code has been changed.  </Message><LocalizedMessage>The origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The destination state/province code has been changed.  </Message><LocalizedMessage>The destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>LKEA </DeliveryStation><DeliveryDayOfWeek>MON</DeliveryDayOfWeek><DeliveryTimestamp>2015-08-24T08:00:00</DeliveryTimestamp><CommitDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><CommitTimestamp>2015-08-24T08:00:00</CommitTimestamp><DayOfWeek>MON</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>SEA</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>PM</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>14</RateScale><RateZone>6</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>0</DimDivisor><FuelSurchargePercent>3.0</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>3.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>242.55</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>242.55</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>18.09</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>260.64</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>260.64</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>10.5</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>7.59</Amount></Amount></Surcharges></ShipmentRateDetail></RatedShipmentDetails><RatedShipmentDetails><ShipmentRateDetail><RateType>RATED_ACCOUNT_PACKAGE</RateType><RateScale>14</RateScale><RateZone>6</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</Ra[...]
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>7CE85DED4C9D07AB</AccessLicenseNumber>
          <UserId>shopifolk</UserId>
          <Password>Shopify_rocks</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <City>Great Bend</City>
                <StateProvinceCode>KS</StateProvinceCode>
                <PostalCode>67530</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <City>SEATTLE</City>
                <StateProvinceCode>WA</StateProvinceCode>
                <PostalCode>98112</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>3.937</Width>
                <Height>3.937</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>0.1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
            [...]
